<div class="entry-box item-col-3 style-2">
    <!-- Entry column -->
    <div class="entry-col">
        <!-- Entry post -->
        <div class="entry">
            <div class="thumbnail-attachment">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Yc-SpTWMcaI?controls=0"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
            <div class="entry-body">
                <a href="javascript:void(0)" [routerLink]="['/maps', 'lam-dong']" class="entry-cat">Đà Lạt</a>
                <h3 class="entry-title"><a href="#">Đà lạt của năm 2018</a></h3>
            </div>
        </div>
    </div>
    <!-- Entry column -->
    <div class="entry-col">
        <!-- Entry post -->
        <div class="entry">
            <div class="thumbnail-attachment">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/7jeTHQWPd-s?controls=0"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
            <div class="entry-body">
                <a href="javascript:void(0)" [routerLink]="['/maps', 'binh-thuan']" class="entry-cat">Bình Thuận</a>
                <h3 class="entry-title"><a href="#">Coco Beach - Lagi Bình Thuận</a></h3>
                <div class="entry-meta">
                    <time class="entry-date" datetime="2019-11-13">7 Febrary, 2018</time>
                    <span><i class="licon-eye"></i>385</span>
                    <span><i class="licon-thumbs-up"></i>90</span>
                    <span><i class="licon-thumbs-down"></i>4</span>
                    <span><i class="licon-bubble"></i>0</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Entry column -->
    <div class="entry-col">
        <!-- Entry post -->
        <div class="entry">
            <div class="thumbnail-attachment">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/egGHBtuGgUw?controls=0"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
            <div class="entry-body">
                <a href="javascript:void(0)" [routerLink]="['/maps', 'kien-giang']" class="entry-cat">Phú Quốc</a>
                <h3 class="entry-title"><a href="#">Phú Quốc 2018 đẹp nhất</a></h3>
                <div class="entry-meta">
                    <time class="entry-date" datetime="2019-11-13">26 July, 2018</time>
                    <span><i class="licon-eye"></i>385</span>
                    <span><i class="licon-thumbs-up"></i>90</span>
                    <span><i class="licon-thumbs-down"></i>4</span>
                    <span><i class="licon-bubble"></i>0</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="align-center"><a href="#" class="btn btn-style-2">Video khác</a></div>