.items {
    background: white;
}

.entry {
    background: white;
}

.entry .thumbnail-attachment img {
    max-width: 100%;
    width: auto;
    background: white;
}

.entry .entry-body {
    background: white;
}