<app-header [home]="isHome" [slide-box]="showSlideBox"></app-header>
<router-outlet>
    <img [hidden]="!showLoader"
         style=" position: fixed; top: 50%; left: 50%; width:200px; height: 200px; transform: translate(-50%, -50%);"
         [src]="loaderImage" class="loading"/>
</router-outlet>
<footer id="footer" *ngIf="showFooter" class="footer style-1">
    <div class="container wide">
        <!-- main footer -->
        <div class="main-footer">
            <div class="widget">
                <p class="copyright">© 2018 Du Lịch Việt</p>
            </div>
            <!--<div class="widget">-->
            <!--<ul class="social-icons style-2">-->
            <!--<li><a href="#"><i class="icon-facebook"></i></a></li>-->
            <!--<li><a href="#"><i class="icon-twitter"></i></a></li>-->
            <!--<li><a href="#"><i class="icon-gplus-3"></i></a></li>-->
            <!--<li><a href="#"><i class="icon-instagram-5"></i></a></li>-->
            <!--<li><a href="#"><i class="icon-youtube-play"></i></a></li>-->
            <!--<li><a href="#"><i class="icon-pinterest"></i></a></li>-->
            <!--</ul>-->
            <!--</div>-->
            <div class="widget">
                <ul class="menu-list hr-type">
                    <li><a href="#">Trang chính</a></li>
                    <li><a href="#">Danh sách tour</a></li>
                    <!--<li><a href="#">Giỏ hàng</a></li>-->
                    <!--<li><a href="#">Liên hệ</a></li>-->
                </ul>
            </div>
        </div>
    </div>
</footer>