<div id="wrapper" class="wrapper-container box-type">

    <!-- - - - - - - - - - - - - end Breadcrumbs - - - - - - - - - - - - - - - -->
    <!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->
    <div id="content">
        <div class="page-section sidebar">
            <div class="container wide">
                <div class="row col-no-space">
                    <main id="main" class="col-xl-9 col-lg-8">
                        <div class="content-element">
                            <h3 class="title">Order History</h3>
                            <div class="table-type-1 recent-order responsive-table">
                                <table>
                                    <thead>
                                    <tr>
                                        <th class="order-number">Order #</th>
                                        <th class="order-date">Date</th>
                                        <th>Status</th>
                                        <th>Total</th>
                                        <th class="order-view"></th>
                                    </tr>
                                    </thead>
                                    <tr>
                                        <td data-title="Order #">12345</td>
                                        <td data-title="Date">December 17, 2019</td>
                                        <td data-title="Status">Pending</td>
                                        <td data-title="Total" class="total-price">$79.00</td>
                                        <td><a href="#" class="btn btn-small simple">View</a></td>
                                    </tr>
                                    <tr class="bg-cell2">
                                        <td data-title="Order #">123456</td>
                                        <td data-title="Date">December 17, 2019</td>
                                        <td data-title="Status">Pending</td>
                                        <td data-title="Total" class="total-price">$118.00</td>
                                        <td><a href="#" class="btn btn-small simple">View</a></td>
                                    </tr>
                                    <tr>
                                        <td data-title="Order #">123457</td>
                                        <td data-title="Date">December 17, 2019</td>
                                        <td data-title="Status">Pending</td>
                                        <td data-title="Total" class="total-price">$19.00</td>
                                        <td><a href="#" class="btn btn-small simple">View</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="content-element">
                            <div class="content-element3">
                                <h3 class="title">My Dashboard</h3>
                                <p class="section-pre-title content-element1">Hello, John Doe (not John Doe?
                                    <a href="#" class="link-text">Sign
                                        out</a>)</p>
                                <p>From your account dashboard you can view your recent orders, manage your shipping and
                                    billing addresses and <a href="#" class="link-text">edit your password and account
                                        details.</a></p>
                            </div>
                            <div class="content-element3">
                                <p class="section-pre-title content-element1">My Addresses</p>
                                <p>The following addresses will be used on the checkout page by default. </p>
                            </div>
                            <div class="content-element3">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="section-pre-title content-element1">Billing Address</p>
                                        <ul class="content-element2">
                                            <li>John Doe</li>
                                            <li>Green street</li>
                                            <li>12345 New York</li>
                                            <li>USA</li>
                                        </ul>
                                        <a href="#" class="btn btn-small btn-style-2">Edit</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="section-pre-title content-element1">Shipping Address</p>
                                        <ul class="content-element2">
                                            <li>John Doe</li>
                                            <li>Green street</li>
                                            <li>12345 New York</li>
                                            <li>USA</li>
                                        </ul>
                                        <a href="#" class="btn btn-small btn-style-2">Edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                    <aside id="sidebar" class="col-xl-3 col-lg-4 sidebar sbr">
                        <!-- Widget -->
                        <div class="widget">
                            <form class="search-line">
                                <input type="text" placeholder="Search products">
                                <button class="btn"><i class="licon-magnifier"></i></button>
                            </form>
                        </div>
                        <!-- Widget -->
                        <div class="widget">
                            <h6 class="widget-title align-center">Products</h6>
                            <div class="product-holder">
                                <!-- product -->
                                <div class="product">
                                    <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                                    <figure class="product-image">
                                        <a href="#"><img src="images/98x98_product1.jpg" alt=""></a>
                                    </figure>
                                    <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->
                                    <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                                    <div class="product-description">
                                        <h6 class="product-name"><a href="#">eBags Medium Packing Cubes - 3pc Set </a>
                                        </h6>
                                        <div class="pricing-area">
                                            <div class="product-price">
                                                $39.00
                                            </div>
                                            <ul class="rating">
                                                <li><i class="licon-star"></i></li>
                                                <li><i class="licon-star"></i></li>
                                                <li><i class="licon-star"></i></li>
                                                <li><i class="licon-star"></i></li>
                                                <li class="empty"><i class="licon-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->
                                </div>
                                <!-- product -->
                                <div class="product">
                                    <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                                    <figure class="product-image">
                                        <a href="#"><img src="images/98x98_product2.jpg" alt=""></a>
                                    </figure>
                                    <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->
                                    <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                                    <div class="product-description">
                                        <h6 class="product-name"><a href="#">Joby JB01390 GripTight GorillaPod...</a>
                                        </h6>
                                        <div class="pricing-area">
                                            <div class="product-price">
                                                $79.00
                                            </div>
                                        </div>
                                    </div>
                                    <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->
                                </div>
                                <!-- product -->
                                <div class="product">
                                    <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                                    <figure class="product-image">
                                        <a href="#"><img src="images/98x98_product3.jpg" alt=""></a>
                                    </figure>
                                    <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->
                                    <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                                    <div class="product-description">
                                        <h6 class="product-name"><a href="#">4 X Travel Waterproof Portable...</a></h6>
                                        <div class="pricing-area">
                                            <div class="product-price">
                                                $19.00
                                            </div>
                                        </div>
                                    </div>
                                    <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->
                                </div>
                            </div>
                        </div>
                        <!-- Widget -->
                        <div class="widget">
                            <h6 class="widget-title align-center">Categories</h6>
                            <ul class="menu-list">
                                <li><a href="#">Accessories</a></li>
                                <li><a href="#">Books</a></li>
                                <li><a href="#">Luggage</a></li>
                                <li><a href="#">Pillows</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>