<div class="carousel-type-2 pt-2">
    <div id="{{ carouselId }}" class="owl-carousel entry-box label-small"></div>
</div>

<div style="display: none" id="content-{{ carouselId }}">
    <div class="entry-col" *ngFor="let plan of plans" id="entry-{{ carouselId }}-{{plan.id}}">
        <!-- Entry post -->
        <div class="entry">
            <div class="thumbnail-attachment">
                <a href="javascript:void(0)" [routerLink]="['/tours', plan?.url + '-' + plan?.id]" class="overlink"></a>
                <img src="{{plan?.tour?.imageUrl}}" alt="">
            </div>
            <div class="entry-body">
                <a href="javascript:void(0)" [routerLink]="['/tours', plan?.url + '-' + plan?.id]" class="entry-cat">
                    {{ plan.adultPrice | vcurrency }}</a>
                <h5 class="entry-title">
                    <a href="javascript:void(0)" [routerLink]="['/tours', plan?.url + '-' + plan?.id]">{{plan.name}}</a>
                </h5>
                <div class="entry-meta">
                    <time class="entry-date" datetime="2019-02-14">{{ plan.startTime | vdatetime }} -
                        {{ plan.tour?.numberOfDate }} ngày {{ plan.tour?.numberOfNight }} đêm
                    </time>
                </div>
            </div>
        </div>
    </div>
</div>